.peak-in-the-news-items > .wp-block-group__inner-container {
  display: flex;
  padding: .5rem;
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.peak-in-the-news-item {
  padding: 0 .5rem;
  flex-basis: calc(96% - 1rem);
  flex-grow: 0;
  flex-shrink: 0;
  scroll-snap-align: center;
  display: flex;
  @include for-tablet-landscape-up {
    flex-basis: calc( 33.333% );
  }
}
.peak-in-the-news-item > .wp-block-group__inner-container {
  color: #FFF;
  background: #000;
  padding: 1rem;
  position: relative;
}
.peak-in-the-news-item-title {
  font-size: 1.25rem;
  margin: 0 0 6rem 0;
}
.peak-in-the-news-item-link {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  margin: 0;
}
.peak-in-the-news-item-coin {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
}
.peak-in-the-news-item-coin svg,
.peak-in-the-news-item-coin img,
.peak-in-the-news-item-coin picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}