.block-hidden {
  display: none;
}
.peak-residence-block {
  background-color: $color-font;
  color: $color-bg;
  padding: 1.5rem 0;
}
.peak-residence-items > .wp-block-group__inner-container { 
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.peak-residence-item {
  padding: 1rem;
  flex-basis: 75%;
  flex-shrink: 0;
  scroll-snap-align: start;
  margin: 0 auto;
  @include for-tablet-portrait-up {
    flex-basis: 28%;
  }
}
.peak-residence-item:first-child {
  flex-basis: 33.3%;
  align-self: center;
}
.peak-residence-block .peak-headline {
  text-align: left;
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  @include for-tablet-landscape-up{
    font-size: 2rem;
  }
}
.peak-residence-item h3,
.peak-residence-item h2, 
.peak-residence-item h4 {
  font-size: 1.25rem;
  margin-bottom: .25rem;
} 
.peak-residence-item-image {
  overflow: hidden;
  border-radius: 50%;
  margin: 0;
}
.peak-residence-item-image picture,
.peak-residence-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.peak-residence-item-button {
  width: 100%;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
  position: relative;
  & > a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 50%;
    min-width: 0;
    line-height: 1.2;
    &:hover {
      background-color: $color-bg;
      color: $color-font;
    }
  }
}