.darkmode-toggle {
  position: absolute;
  padding: 1rem;
  @media (min-width: 43rem) {
    margin-left: calc( ( 100% - 38rem ) / 2 );
  }
  @include for-tablet-landscape-up {
    padding-top: 0;
    position: absolute;
    right: calc( (100% - 36rem) / 2 + 36rem);
  }
}
.darkmode-toggle-title {
  font-weight: 700;
  position: absolute;
  top: 46px;
  @include for-tablet-landscape-up {
    font-size: .9rem;
    top: 44px;
    right: 0;
  }
}
 /* The switch - the box around the slider */
.darkmode-toggle-switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  margin-top: 3px;
  margin-bottom: 4px;
}
/* Hide default HTML checkbox */
.darkmode-toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.darkmode-toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FFF;
  -webkit-transition: .4s;
  transition: .4s;
  border: 2px solid #000;
}
.darkmode-toggle-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .darkmode-toggle-slider {
  background-color: #000;
  border-color: #FFF;
}
input:focus + .darkmode-toggle-slider {
  box-shadow: 0 0 1px $color-green;
}
input:checked + .darkmode-toggle-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #FFF;
}
/* Rounded sliders */
.darkmode-toggle-slider.round {
  border-radius: 34px;
}
.darkmode-toggle-slider.round:before {
  border-radius: 50%;
} 