body.blog,
body.archive,
body.page-template-page-events {
  background-color: $color-font;
  color: $color-bg;
  padding-top: 4rem;
  @include for-tablet-portrait-up {
    padding-top: 6rem;
  }
  & .peak-headline {
    font-size: 1.5rem;
    @include for-tablet-portrait-up {
      font-size: 2rem;
    }
  }
  & .peak-logo-svg-letters {
    fill: $color-font;
  }
  & .peak-logo-svg circle {
    fill:$color-bg;
  }
  & .ui-hamburger line {
    stroke: $color-bg;
  }
  & .main-navigation a {
    color: $color-bg;
  }
  & #site-navigation {
    @include for-tablet-portrait-up {
      background-color: #000;
    }
  }
}
.peak-media-subnav {
  text-align: center;
  margin-bottom: 2rem;
}
.peak-media-subnav a.wp-block-button__link {
  font-size: .75rem;
  min-width: 150px;
  padding: .66em 2em .5em 2em;
  &:hover {
    background-color: $color-bg;
    color: $color-font;
  }
}
.blog .site-main,
.archive .site-main {
  @include for-tablet-portrait-up {
    display: grid;
    grid-template-columns: repeat( 4, minmax( 0, 1fr ) );
    grid-template-rows: fit-content(25%);
    max-width: 1200px;
    margin: 0 auto;
  }
}
.blog-post-tile {
  color: $color-font;
  padding: 1rem;
  grid-row-end: span 10;
  margin: 0 1rem .5rem 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include for-tablet-portrait-up {
    margin: .25rem;
  }
}
.blog-post-tile.white-font {
  color: $color-bg;
}
.blog-post-tile.bg-img {
  position: relative;
  & > * {
    position: relative;
    z-index: 1;
  }
}
.blog-post-tile.bg-img .blog-tile-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  & img, & picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
} 
.blog-tile-icon {
  max-width: 33.3%;
  & svg {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}
.blog-post-tile a,
.blog-post-tile a:visited {
  text-decoration: none;
  color: inherit;
}
.blog-post-tile .entry-title {
  font-size: 1.5rem;
  line-height: 1.05;
  margin-top: 0.5rem;
}
.blog-post-tile .byline{
  pointer-events: none;
  display: none;
  margin-bottom: 2rem;
  margin-top: -1rem;
}
.blog-post-tile .entry-footer .cat-links a {
  pointer-events: none;
}
.blog-post-tile .entry-footer .tags-links {
  display: none;
}
// Tile fake masonry grid
@include for-tablet-portrait-up {
  // .blog-post-tile:nth-child(2n+1) {
  //   grid-column-start: 1;
  //   grid-column-end: span 2;
  // }
  // .blog-post-tile:nth-child(2n+2) {
  //   grid-column-start: 3;
  //   grid-column-end: span 2;
  // }
  // .blog-post-tile:nth-child(1) {
  //   grid-row: 1 / span 10;
  // }
  // .blog-post-tile:nth-child(2) {
  //   grid-row: 1 / span 12;
  // }
  // .blog-post-tile:nth-child(3) {
  //   grid-row: 11 / span 10;
  //   grid-column: 1 / span 1;
  // }
  // .blog-post-tile:nth-child(4) {
  //   grid-row: 11 / span 10;
  //   grid-column: 2 / span 1;
  // }
  // .blog-post-tile:nth-child(5) {
  //   grid-row: 13 / span 12;
  //   grid-column: 3 / span 2;
  // }
  // .blog-post-tile:nth-child(6) {
  //   grid-row: 21 / span 16;
  //   grid-column: 1 / span 2;
  // }
  // .blog-post-tile:nth-child(7) {
  //   grid-row: 25 / span 12;
  //   grid-column: 3 / span 2;
  // }
  // .blog-post-tile:nth-child(8) {
  //   grid-row: 37 / span 10;
  //   grid-column: 1 / span 1;
  // }
  // .blog-post-tile:nth-child(9) {
  //   grid-row: 37 / span 10;
  //   grid-column: 2 / span 2;
  // }
  // .blog-post-tile:nth-child(10) {
  //   grid-row: 37 / span 10;
  //   grid-column: 4 / span 1;
  // } 
  .blog-post-tile:nth-child(10n+1) {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-end: span 10;
  }
  .blog-post-tile:nth-child(10n+2) {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-end: span 11;
  }
  .blog-post-tile:nth-child(10n+3) {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-end: span 10;
  }
  .blog-post-tile:nth-child(10n+4) {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-end: span 10;
  }
  .blog-post-tile:nth-child(10n+5) {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-end: span 11;
  }
  .blog-post-tile:nth-child(10n+6) {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-end: span 10;
  }
  .blog-post-tile:nth-child(10n+7) {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-end: span 8;
  }
  .blog-post-tile:nth-child(10n+8) {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-end: span 8;
  }
  .blog-post-tile:nth-child(10n+9) {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-end: span 8;
  }
  .blog-post-tile:nth-child(10n+10) {
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-end: span 8;
  }
  
}
.posts-navigation {
  max-width: 1200px;
  margin: 1rem auto;
  padding: 0 .25rem;
  & .nav-links {
    display: flex;
    justify-content: space-between;
  }
}

//Peak Events
body.page-template-page-events .entry-content {
  margin-bottom: 4rem;
}
.peak-event {
  border-bottom: 2px solid $color-bg;
  width: calc(100% - 2rem);
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding: 3rem 0 0 0;
  @include for-tablet-portrait-up {
    padding: 1rem 0;
  }
}
.peak-event > .wp-block-group__inner-container {
  @include for-tablet-portrait-up {
    display: flex;
    justify-content: space-between;
  }
}
.peak-event-date {
  position: absolute;
  top: 1rem;
  left: 0;
  font-weight: 600;
  @include for-tablet-portrait-up {
    font-weight: 700;
    position: static;
    flex-basis: 25%;
    margin: 0;
  }
}
.peak-event-name {
  font-weight: 700;
  @include for-tablet-portrait-up {
    flex-basis: 50%;
    margin: 0;
  }  
  & a, & a:visited {
    text-decoration: none;
  }
}
.peak-event-country {
  position: absolute;
  top: 1rem;
  right: 0;
  font-weight: 600;
  @include for-tablet-portrait-up {
    font-weight: 700;
    position: static;
    flex-basis: 25%;
    margin: 0;
    text-align: right;
  }
}