.teammembers.cards {
  @include for-tablet-portrait-up {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 1rem;
  }
}
.teammembers.cards .card {
  @include for-tablet-portrait-up {
    margin-left: 0;
    margin-right: 0;
    flex-basis: calc( 25% - 1rem );
  }
  @include for-tablet-landscape-up {
    flex-basis: calc( 25% - 1rem );
  }
}
.team-header-coin-block {
  position: relative;
  height: calc(75vw + 8rem);
  @include for-tablet-landscape-up {
    height: calc(30vw + 12rem);
  }
}
.team-header-coin {
  position: absolute;
  left: 12.5vw;
  top: 4rem;
  width: 75vw;
  height: 75vw;
  overflow: hidden;
  @include for-tablet-landscape-up {
    left: 35vw;
    top: 6rem;
    width: 30vw;
    height: 30vw;
  }
}
.team-header-coin > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;;
}
.team-header-coin > div > svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.page-template-page-team .card-full-content {
  @include for-tablet-landscape-up {
    justify-content: flex-start;
  }
}