.single-teammember {
  
  .site-main {
    padding: 100px 1rem 1rem 1rem;
    @include for-tablet-landscape-up {
      padding: 0;
    }
  }

  .post-hero {
    @include for-tablet-landscape-up {
      position: fixed;
      top: 0;
      width: 41.667%;
      height: 100%;
    }
  }
  .post-hero img,
  .post-hero picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .entry-title {
    @extend .card-full-content-title;
  }

  .teammember {
    @include for-tablet-landscape-up {
      position: relative;
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: calc(41.667% + 2rem);
      padding-right: 10%;
      padding-bottom: 0; //accomodate the arrows
      padding-top: 110px; //accomodate the arrows
    }
  }

  .teammember .card-subtitle {
    font-size: 1rem;
    margin: 0 0 2rem 0;
    max-width: none;
    @include for-tablet-landscape-up {
      font-size: .8rem;
    }
  }

  .teammember p {
    margin: 0 0 1rem 0;
  }

  .teammember-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-tablet-landscape-up {
      margin-left: calc(41.667% + 2rem);
      margin-right: 2rem;
    }
  }
  .cards-nav-prev, .backtoteam, .cards-nav-next {
    z-index: 2;
    position: static;
  }
  // .backtoteam {
  //   z-index: 1;
  //   text-decoration: none;
  //   position: absolute;
  //   margin: 1rem auto;
  //   left: 0;
  //   display: block;
  //   text-align: center;
  //   width: 100%;
  //   @include for-tablet-landscape-up {
  //     bottom: 1.5rem;
  //     left: calc(41.667% + 2rem);
  //     width: calc(58.333% - 2rem);
  //   }
  // }

  
}
